<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <script type="text/javascript" src="../static/jquery.js"></script>
    <link type="text/css" rel="stylesheet" href="../static/style.css" />
</head>
<body>
<div class="headtop"></div>
    <div class="login">
        <h1>Login</h1>
        <form method="post">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <input class="btn" type="submit" value="Login">
            <p id="login_check" style="color:red;display:none;">Invalid username or password!</p>
        </form>
    </div>
<script type="text/javascript">
    if ("{{ status }}"== "fail"){
        $("#login_check").css("display","");
    }
</script>
</body>
</html>